# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env.*
!.env.example

# Native build artifacts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro & Debug logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
*.pem

# Typescript
*.tsbuildinfo